.album_layout{
    width:100%;
    height: 78%;
    overflow:auto;
}

.album_row{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.album_pic{
    height: 55.5%;
    margin-right: 20%;
}

.dropbtn {
    background-color: #000000;
    font-family: 'Dosis', sans-serif;
    color: white;
    padding: 16px;
    font-size: 2vw;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    height: 22%;
    margin-left: 27%;
    margin-bottom: 1%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
      background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #000000;
}