.body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background-color: black;
}

#nav {
    position: relative;
    display: block;
    width: auto;
    height: 10%;
    padding: 10px 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 5%, rgba(66,66,66,1) 100%);
    text-align: center;
}

#logo {
    position: relative;
    height: 100%;
    float: left;
    bottom: 2.5%;
    left: 1.5vw;
}

#nav_items {
    position: relative;
    display: block;
    width: 40%;
    height: 100%;
    border-bottom: black 1px;
    float: right;
}

a {
    text-decoration: none;
}

.nav_item {
    float: left;
    width: 16%;
    height: 100%;
    margin-right: 1%;
    background: #424242;
}

.social {
    height: 30%;
    width: 100%;
}

.social:hover {
    opacity: .7;
}


.nav_item_text {
    font-size: 2vw;
    font-weight: 700;
    color: #adbded;
    height:60%;
    border: 1pt hidden;
    border-radius: 3px;
    text-decoration: none;
}

.nav_item_text:hover {
    opacity: .7;
}

.nav_item_text-current {
    font-size: 2vw;
    font-weight: 700;
    color: #ffffff;
    border: 1pt hidden;
    border-radius: 3px;
}

.nav_item_text-current:hover{
    opacity: .7;
}

#bottom_nav {
    position: relative;
    display: block;
    width: auto;
    height: 8%;
    padding: 10px 0;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 5%, rgba(66,66,66,1) 100%);
    text-align: center;
}

#bottom_nav_items {
    position: relative;
    display: block;
    width: 40%;
    height: 100%;
    float: right;
}

.bottom_nav_item {
    float: left;
    width: 20%;
    height: 100%;
    margin-top: 1.5%;
    margin-right: 2%;
    font-size: 2vw;
    font-weight: 300;
    color: white;
    cursor: pointer;
    background: #424242;
    border: 1pt hidden;
    border-radius: 3px;
}
