.Base__title{
  color: #191919;
  margin-top: 15px;
  font-size: 65px;
  font-family: 'Raleway';
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #770000
  }

.Base__Social1{
  height: 45px;
  width: 45px;
  outline: none;
  border: none;
  background-color: #191919;
  background-image: url(twitter.png);
  background-size: contain;
  
}

.Base__Social2{
    height: 45px;
    width: 45px;
    outline: none;
    border: none;
    background-color: #191919;
    background-image: url(instagram.png);
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
  }

.Base__Social3{
    height: 45px;
    width: 45px;
    outline: none;
    border: none;
    background-color: #191919;
    background-image: url(youtube.png);
    background-size: contain;

  }

.Base__button{
    color: #770000;
    background-color:#191919;
    border: none;
    font-size: 25px;
    font-family: 'Raleway';
    text-align: center;
    align-content: center;
    margin-top: 20px;
    outline: none;
    margin-bottom: 10px;
  }
